@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: "rick";
	src: url("C:\Users\RYZEN\Desktop\rick_and_morty_v2\front\src\font\get_schwifty.ttf");
}

@layer components{
	html{
		background-image: url("C:\Users\RYZEN\Desktop\rick_and_morty_v2\front\src\img\space-4749302_1280.jpg");
		background-size:cover;
		filter: brightness(0.8);
	}
}
